/* Menu.css */
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo traslúcido */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    z-index: 99999; /* Asegura que el menú esté por encima de otros elementos con z-index */
  }
  